description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with buildpacks for Java, Java Native Image and Go"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.18.10"
  version = "4.18.10"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.4.0"
  version = "13.4.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.4.0"
  version = "20.4.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.12.0"
  version = "5.12.0"

[lifecycle]
  version = "0.20.19"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.18.10"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.12.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.90"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"
