description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with buildpacks for Java, Java Native Image and Go"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.19.7"
  version = "4.19.7"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:14.1.0"
  version = "14.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:21.2.0"
  version = "21.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.13.0"
  version = "5.13.0"

[lifecycle]
  version = "0.21.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "14.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "21.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.19.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.13.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.102"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"
